*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto';
    --bs-gutter-x:0 !important;
    transition: all 0.3s;
}
#mainWrapper{
    width: 100vw;
    height: 100vh;   
}
p{
    margin: 0;
}
.disableGutterX{
    --bs-gutter-x:0 !important;
}
.wrongeData{
    border: 1px solid red;
}
.rightData{
    border: 1px solid green;
}
.spinner-border{
    width: 1.2rem !important;
    height: 1.2rem !important;
}

/* ************ThemeColors*************** */

/* :root{
    --mainColor:#04b0df;
    --borderColor:#d70505;
    --hoverBackgorundColor:#c60303;
}
.text-primary{
    color:var(--mainColor) !important;
}
.btn-primary{
    background-color: var(--mainColor) !important;
    border-color: var(--borderColor) !important;
}
.btn-primary:hover{
    background-color: var(--hoverBackgorundColor) !important;
}

circle{
    fill: var(--mainColor) !important;
} */
